*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --page-width: 700px;
  --msg-width: 250px;
  --msg-font: 0.9em;
  --msg-font-h: 0.9em;
}

body::-webkit-scrollbar {
	width: 0px;
}
.chat-area::-webkit-scrollbar {
	width: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--page-width);
  margin: 20px auto;
  height: calc(100vh - 40px);
  box-sizing: border-box;
}

.chat-header {
  width: var(--page-width);
  border-radius: 5px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.group-name-code{
  color: var(--primary-invert);
  display: flex;
  align-items: center;
}

#group-name{
  margin-right: 10px;
}

#group-code{
  margin-left: 10px;
}

.group-actions {
  display: flex;
  justify-content: space-around;
}
.group-actions-menu {
  display: none;
  background-color: white;
  width: var(--page-width);
  position: absolute;
  top: 100%;
  left: 0;
}
.group-actions p {
  cursor: pointer;
  margin: 0 1rem;
  color: whitesmoke;
}
.group-actions-menu p {
  cursor: pointer;
  margin: 0 1rem;
}
.menu{
  display: none;
}
.divider {
  height: .1rem;
  background-color: grey;
  border: none;
}

.alert{
  width: 350px;
  background-color: #ffffff92;
  color: var(--primary);
  margin: 5px auto;
  text-align: center;
  font-size: 12px;
  border-radius: 3px;
  padding: 10px;
}

.chat-area {
  background-color: rgba(255, 255, 255, 0.486);
  height: 100%;
  margin: 10px 0;
  padding: 16px;
  border-radius: 5px;
  overflow-y: scroll;
}

.chat-body {
  display: flex;
  flex-direction: column;

}
.message {
  width: var(--msg-width);
  background-color: #fff;
  border-radius: .4rem;
  padding: .3rem .5rem;
  margin: .4rem 0;
  position: relative;
}

.message p {
  margin: .5rem 0;
  font-size: var(--msg-font);
}

.message.sent {
  background-color: #d4efdf;
  align-self: flex-end;
}

.sent-time {
  text-align: right;
  font-size: 12px;
}

.message h4{
  margin: 0;
  font-size: var(--msg-font-h);
}

.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:18px solid #fff;
  position: absolute;
  left: -12px;
  top: -5.3px;
  transform: rotate(28deg);
}

.message.sent .arrow{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: 95%;
  border-right: 18px solid #d4efdf;
  position: absolute;
  transform: rotate(29deg);
}

.chat-footer {
  width: var(--page-width);
  background-color: white;
  border-radius: 5px;
  height: 60px;
  overflow: hidden;
}
.message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#message {
  width: 100%;
  padding: 0 20px;
  background-color: #ffffff;
  outline: none;
}

.submit-btn {
  background: #ffffff;
  padding-right: 30px;
  cursor: pointer;
}
.menu-spread {
  display: none; 
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* 
.members {
  display: grid;
  grid-template-rows: 1fr 4fr;
  position: fixed;
  background-color: white;
  top: 10%;
  left: 58%;
  padding: 1rem;
  row-gap: 1rem;
  z-index: 2;
}
.members-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1rem;
}
.chat-header-cont {
  position: relative;
} */

@media (max-width: 700px){
  :root {
    --page-width: 400px;
    --msg-font: .9em;
    --msg-font-h: 1em;
    --msg-width: 150px;
  }
  .group-actions {
    display: none;
  }
  .menu {
    display: block;
  }
  .message-form {
    padding: 0 1rem 0 0;
  }
}
@media (max-width: 450px){
  :root {
    --page-width: 300px;
    --msg-font: .7em;
    --msg-font-h: .9em;
    --msg-width: 120px;
  }
  .message-form {
    padding: 0 2rem 0 0;
  }

}
.scale-up-center{-webkit-animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both}
/* ----------------------------------------------
 * Generated by Animista on 2020-3-26 19:52:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}

