body {
  padding: 0 2rem;
}
.container{
  width: 700px;
  margin: 2rem auto;
  border: 3px solid #c4bdce;
  
  background-color: #c4bdcec2;
  border-radius: .8rem;
  padding: 1.5rem;
}

.alert p{
  width: 250px;
  background-color: #eee5f7a1;
  color: grey;
  margin: 0 auto;
  text-align: center;
  border-radius: .8rem;
  padding: 3px 0;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.chat-header #left {
  margin-top:  1.3rem;
}

.chat-header #left span {
  padding: 1rem;
}

.chat-header #left span a{
  text-decoration: none;
  color: grey;
}
.chat-header #left span a:hover {
  color: #000;
}
#messages {
  display: flex;
  flex-direction: column;
}
.message {
  width: 250px;
  background-color: #fff;
  border-radius: .4rem;
  padding: .3rem .5rem;
  margin: 1.5rem 0;
  position: relative;
}

.message.sent {
  align-self: flex-end;
}

.sent-time {
  text-align: right;
}

.message h4{
  margin: 0;
}

.arrow {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:18px solid #fff; 
  position: absolute;
  left: -12px;
  top: -5.3px;
  transform: rotate(28deg);
}

.message.sent .arrow{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: 95%;
  border-right: 18px solid #fff;
  position: absolute;
  transform: rotate(29deg);
}