*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --page-width: 700px;
  --msg-width: 250px;
  --msg-font: 1em;
  --msg-font-h: 1em;
}

body::-webkit-scrollbar {
	width: 0px;
}

.container {
  width: var(--page-width);
  margin: 0 auto;
  height: 100%;
}

.chat-header {
  position: fixed;
  width: var(--page-width);
  /* border-radius: 1rem 1rem 0 0; */
  background-color: #c4bdce;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  z-index: 2;
}

.group-actions {
  display: flex;
  justify-content: space-around;
}
.group-actions-menu {
  display: none;
  background-color: white;
  width: var(--page-width);
  position: absolute;
  top: 100%;
  left: 0;
}
.group-actions p {
  cursor: pointer;
  margin: 0 1rem;
}
.group-actions-menu p {
  cursor: pointer;
  margin: 0 1rem;
}
.menu{
  display: none;
}
.divider {
  height: .1rem;
  background-color: grey;
  border: none;
}

.alert p{
  width: 250px;
  background-color: #eee5f7a1;
  color: grey;
  margin: 0 auto;
  text-align: center;
  border-radius: .8rem;
  padding: 3px 0;
}
.chat-area {
  background-color: rgba(255, 255, 255, 0.486);
  margin: 5rem 0 3rem 0;
}

.chat-body {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;

}
.message {
  width: var(--msg-width);
  background-color: #fff;
  border-radius: .4rem;
  padding: .3rem .5rem;
  margin: .4rem 0;
  position: relative;
}

.message p {
  margin: .5rem 0;
  font-size: var(--msg-font);
}

.message.sent {
  align-self: flex-end;
}

.sent-time {
  text-align: right;
  font-size: var(--msg-font);
}

.message h4{
  margin: 0;
  font-size: var(--msg-font-h);
}

.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:18px solid #fff;
  position: absolute;
  left: -12px;
  top: -5.3px;
  transform: rotate(28deg);
}

.message.sent .arrow{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: 95%;
  border-right: 18px solid #fff;
  position: absolute;
  transform: rotate(29deg);
}

.chat-footer {
  width: var(--page-width);
  position: fixed;
  bottom: 0;
  background-color: white;
}
.message-form {
  display: grid;
  grid-template-columns: 93% auto;
  column-gap: 1rem;
  align-items: center;
  z-index: 2;
}

.message-input {
  padding: .5rem;
  background-color: #fffffff1;
  border: 1px solid var(--primary);
  outline: none;
}
.submit-btn {
  cursor: pointer;
}
.menu-spread {
  display: none; 
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* 
.members {
  display: grid;
  grid-template-rows: 1fr 4fr;
  position: fixed;
  background-color: white;
  top: 10%;
  left: 58%;
  padding: 1rem;
  row-gap: 1rem;
  z-index: 2;
}
.members-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1rem;
}
.chat-header-cont {
  position: relative;
} */

@media (max-width: 700px){
  :root {
    --page-width: 400px;
    --msg-font: .9em;
    --msg-font-h: 1em;
    --msg-width: 150px;
  }
  .group-actions {
    display: none;
  }
  .menu {
    display: block;
  }
  .message-form {
    padding: 0 1rem 0 0;
  }
}
@media (max-width: 450px){
  :root {
    --page-width: 300px;
    --msg-font: .7em;
    --msg-font-h: .9em;
    --msg-width: 120px;
  }
  .message-form {
    padding: 0 2rem 0 0;
  }

}
.scale-up-center{-webkit-animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both}
/* ----------------------------------------------
 * Generated by Animista on 2020-3-26 19:52:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}

.rotate-scale-up{-webkit-animation:rotate-scale-up .65s linear both;animation:rotate-scale-up .65s linear both}
/* ----------------------------------------------
 * Generated by Animista on 2020-3-26 19:59:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes rotate-scale-up{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(1) rotateZ(180deg);transform:scale(1) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}@keyframes rotate-scale-up{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(1) rotateZ(180deg);transform:scale(1) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}
/*
1. Remove scroll from background
2. Make the member side menu cover the member link
3. Add better padding to the notifications
4. Make the chat area occupy 100%
5. Make header disapper when you scroll up
6. Push the message input area down
*/
