.create {
  width: 600px;
  background-color: white;
  padding: 1rem;
  margin: 20% auto;
}

.create-group {
  color: var(--primary);
}

.create-form {
  display: flex;
  flex-flow: column wrap;
}

.create-form * {
  width: calc(100% - 100px);
  margin: 0 auto;
  padding: 0.5rem;
}

.create-form label * {
  width: 100%;
}


