.create {
  width: 700px;
  background-color: #ffffff7e;
  padding: 1rem;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.create-village {
  color: var(--primary);
  text-align: center;
}
.create-form {
  display: flex;
  flex-flow: column wrap;
  padding: 0 2rem;
}
.create-form input {
  width: calc(100% - 100px);
  margin: 0 auto;
  outline: 0;
}
.create-form button  {
  border-radius: 5px;
  padding: 0 20px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
  color: white;
  margin-top: 1.5rem;
}
#button-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-form button:hover  {
  background-color: var(--primary-invert);
  cursor: pointer;
  color: var(--primary);
}
.create-form label input {
  width: 100%;
}
.create-form label p{
  color: var(--secondary-text-color);
  margin-bottom: 0.3rem;
}
.create-form label {
  margin-bottom: 0.5rem;
}

.success-cont {
  display: none;
}
.failure-cont {
  display: none;
  justify-content: center;
}
.go-to-village {
  border-radius: 0.4rem;
  padding: 0.5rem;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
  color: white;
  margin-bottom: 1rem;
}
.go-to-village:hover {
  background-color: var(--primary-invert);
  color: var(--primary);
  margin-bottom: 1rem;
}

.snack-bar {
  background-color: #cc9b13;
  color: white;
  position: absolute;
  top: 90%;
  padding: 1.5rem;
  left: 23%;
  display: none;
  font-size: 1.5rem;
  border-radius: 6px;
}

.success-message{
  color: white;
  background-color: rgb(78, 221, 78);
  height: 40px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.failure-message{
  color: white;
  background-color: rgb(221, 7, 7);
  height: 40px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}