.create {
  width: 700px;
  background-color: white;
  padding: 1rem;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.create-group {
  color: var(--primary);
  text-align: center;
}
.create-form {
  display: flex;
  flex-flow: column wrap;
  padding: 0 2rem;
}
.create-form input {
  width: calc(100% - 100px);
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid var(--secondary-text-color);
  outline: 0;
}
.create-form button  {
  width: 20% !important;
  border-radius: 0.4rem;
  padding: 0.5rem;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
  color: white;
}
#button-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-form button:hover  {
  background-color: var(--primary-invert);
  cursor: pointer;
  color: var(--primary);
}
.create-form label input {
  width: 100%;
}
.create-form label p{
  color: var(--secondary-text-color);
  margin-bottom: 0.3rem;
}
.create-form label {
  margin-bottom: 2rem;
}


