body{
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}

.container{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    background-color: #ffffff7e;
    box-shadow: 0 2px 8px rgba(160, 160, 160, 0.279);
}

h1{
    font-size: 2.5rem;
}

.container > a{
    height: 50px;
    width: 300px;
    background-color: var(--primary);
    color: white;
    padding: 10px 40px; 
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font1)
}

/* For responsive*/
@media only screen and (max-width: 600px) {
    body{
        height: 97vh;
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 2px solid green; */
    }
    .container{
        height: 100vh;
        width: 100vw;
        border: 1px solid gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        position: relative;
        background-color: #ffffff7e;
    }
    .container > h1{
        top: 150px;
        position: absolute;
    }
}