body{
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}

.container{
    height: 500px;
    width: 500px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    background-color: #ffffff7e;
}
.container > h1{
    position: absolute;
    top: 50px;
}

.container > a{
    height: 40px;
    width: 300px;
    background-color: var(--primary);
    color: white;
    padding: 10px 40px; 
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* For responsive*/
@media only screen and (max-width: 600px) {
    body{
        height: 97vh;
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 2px solid green; */
    }
    .container{
        height: 100vh;
        width: 100vw;
        border: 1px solid gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        position: relative;
        background-color: #ffffff7e;
    }
    .container > h1{
        top: 200px;
    }
}