@import url("https://fonts.googleapis.com/css2?family=Gotu&family=Open+Sans&display=swap");

/* Global styles */

/* Colors */
:root {
  --primary: #27ae60;
  --secondary-text-color: grey;
  --primary-invert: white;
  --danger: #ff0000cc;

  --font1 : "Open Sans", sans-serif;
  --font2: "Gotu", sans-serif;
}

/* CSS RESET */
*,
::before,
::after {
  font-family: var(--font1);
  padding: 0;
  box-sizing: border-box;
}

.primary-color {
  color: var(--primary);
}
.danger-color {
  color: var(--danger);
}
.center-text {
  text-align: center;
}

input{
  height: 50px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 0;
}

button{
  border: 0;
}